* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    font-family: 'Open Sans';
}

.header {
    background: linear-gradient(45deg, rgb(165, 31, 155), rgb(82, 89, 182));
    color: #FFFFFF;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}


.header__logo {
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;

}

/* .header__logo a{
    transition: 1s;
}
.header__logo a:hover{
    font-size: 50PX;
transform: scale(1.2);
} */

.formsearch {
    background: rgb(175 175 175);
    opacity: 0.6;
    border-radius: 20px;
    padding: 13px;
    transition: 0.5;
    width: 500px;
}

.Search__input {
    border: none;
    outline: none;
    background: url(./img/search.svg);
    background-position: 0 center;
    padding-left: 18px;
    background-repeat: no-repeat;
    font-size: 18px
}



.menu__link a {
    text-decoration: none;
    background: rgb(175 175 175);
    opacity: 0.6;
    border-radius: 20px;
    padding: 13px;
    transition: 0.5;
    width: 120px;
}

.menu__link a:hover {
    filter: grayscale(0.9);
}

.shopСart {
    width: 20px;
    height: 18px;
}




.slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: 450px;
    border-radius: 20px;
    margin-top: 50px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(102, 98, 98, 0.8);
}



/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}









.sectionText {

    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    margin: 8px auto 20px 32px;
}

.goods {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
}

.cardImg {
    height: 300px;
    width: 240px;
    border-radius: 10px;
    display: block;
    z-index: 2;
}

.pictureNames {
    display: flex;
    justify-content: space-between;
}

.nameGoods {
    margin-top: 5px;
    font-weight: 500;
    font-size: 20px;
    color: gray;
}


.priceGoods {
    display: flex;
    justify-content: space-between;
}

.oldPrice {
    text-decoration: line-through;
    color: gray;
    font-size: 22px;
    font-weight: 500;
}

.pricing {
    font-weight: 700;
    font-size: 22px;
}

.fastButton {
    font-size: 20px;
    line-height: 16px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .9);
    cursor: pointer;
    padding: 20px 20px;
    border: none;
    position: absolute;
    transform: translateX(3%) translateY(220%);
    white-space: nowrap;
    z-index: 3;
    opacity: 0;
}

.basketImg {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    transform: translateX(-15%) translateY(0%);
}

.basket {

    width: 40px;
    height: 40px;
    position: absolute;
    transform: translateX(450%) translateY(-190%);
    cursor: pointer;
    border-radius: 50px;
    border: none;
}

.button:hover .fastButton {
    opacity: 1;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

