* {
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Open Sans';
}


.products {
    padding: 0 32px;
}

.sectionText {

    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 8px;
}

.goods {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
}

.cardImg {
    height: 250px;
    width: 191px;
    border-radius: 10px;
}

.pictureNames {
    display: flex;
    justify-content: space-between;
}
span{
   margin-top: 100px;
}